<div class="container">
  <h2>{{ room?.title }}</h2>
  <div class="row">
    <div class="col-md-6 carousel-container">
      <div class="carousel slide" data-bs-ride="carousel" id="roomCarousel">
        <div class="carousel-inner rounded-5">
          <div
            *ngFor="let image of room?.images; let i = index"
            class="carousel-item {{ i === 0 ? 'active' : '' }}"
          >
            <img
              class="d-block w-100 img-room"
              src="assets/img/{{ image }}"
              alt="{{ room?.title }}"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#roomCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#roomCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <p class="lead">Price: ${{ room?.price }} per night</p>
      <p>Capacity:{{ room?.capacity }} <i class="bi-people-fill"></i></p>
      <p>Address: {{ room?.address }}</p>
      <p>{{ room?.description }}</p>
      <form [formGroup]="bookingForm">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control email"
            id="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            formControlName="email"
            required
          />
          <div *ngIf="bookingForm.get('email')?.invalid">
            <div *ngIf="bookingForm.get('email')?.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="bookingForm.get('email')?.errors?.['pattern']">
              Please enter a valid email address (e.g., name&#64;example.com).
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary mt-3 w-50 btn-with-spinner"
          [disabled]="bookingForm.invalid || isLoading"
          (click)="makeBooking()"
        >
          <span *ngIf="!isLoading">Book Now</span>
          <span *ngIf="isLoading">
            <button class="btn btn-primary" type="button" disabled>
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Loading...
            </button>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
