.card-body {
  min-height: 200px;
}

.card-text {
  height: 80px;
  margin: 0;
}

h2 {
  text-align: center;
}

.card-img-top {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.disabled-card {
  opacity: 0.7;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
